html {
		font-family: 'Open Sans', sans-serif;
		background-color: #dedede
	}
	
	#wrapper { 
		max-width: 1920px; 
		margin: auto; 
	}

		header {
			height: 485px;
			width: 100%;
		}
		
			nav {
				height: 35px;
				width: 100%;
				background: #ccc;
	   		}	
			
			nav ul {
				margin-left: 40%;
				margin-top: 8px;
				position: absolute;
			}

			nav li {
				margin-right: 20px;
				color: black;
				font-size: 1em;
				display: inline;
				text-transform: uppercase;
			}

			nav li:hover {
				background: #ffffff;
			}

		section {
			margin: auto;
			height: 525px;
			width: 100%;
		}

			article {
				margin: auto;
				max-width: 1360px;
				margin-top: 25px;
			}

			section img{
				max-width: 450px;
				width: 100%
				height: auto;
			}


			@-webkit-keyframes hvr-wobble-to-top-right {
			  16.65% {
			    -webkit-transform: translate(8px, -8px);
			    transform: translate(8px, -8px);
			  }

			  33.3% {
			    -webkit-transform: translate(-6px, 6px);
			    transform: translate(-6px, 6px);
			  }

			  49.95% {
			    -webkit-transform: translate(4px, -4px);
			    transform: translate(4px, -4px);
			  }

			  66.6% {
			    -webkit-transform: translate(-2px, 2px);
			    transform: translate(-2px, 2px);
			  }

			  83.25% {
			    -webkit-transform: translate(1px, -1px);
			    transform: translate(1px, -1px);
			  }

			  100% {
			    -webkit-transform: translate(0, 0);
			    transform: translate(0, 0);
			  }
			}

			@keyframes hvr-wobble-to-top-right {
			  16.65% {
			    -webkit-transform: translate(8px, -8px);
			    transform: translate(8px, -8px);
			  }

			  33.3% {
			    -webkit-transform: translate(-6px, 6px);
			    transform: translate(-6px, 6px);
			  }

			  49.95% {
			    -webkit-transform: translate(4px, -4px);
			    transform: translate(4px, -4px);
			  }

			  66.6% {
			    -webkit-transform: translate(-2px, 2px);
			    transform: translate(-2px, 2px);
			  }

			  83.25% {
			    -webkit-transform: translate(1px, -1px);
			    transform: translate(1px, -1px);
			  }

			  100% {
			    -webkit-transform: translate(0, 0);
			    transform: translate(0, 0);
			  }
			}

			#fotos {
			  display: inline-block;
			  vertical-align: middle;
			  -webkit-transform: translateZ(0);
			  transform: translateZ(0);
			  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			  -webkit-backface-visibility: hidden;
			  backface-visibility: hidden;
			  -moz-osx-font-smoothing: grayscale;
			}
			#fotos:hover, #fotos:focus, #fotos:active {
			  -webkit-animation-name: hvr-wobble-to-top-right;
			  animation-name: hvr-wobble-to-top-right;
			  -webkit-animation-duration: 1s;
			  animation-duration: 1s;
			  -webkit-animation-timing-function: ease-in-out;
			  animation-timing-function: ease-in-out;
			  -webkit-animation-iteration-count: 1;
			  animation-iteration-count: 1;
			}		

		footer {
			height: 35px;
			width: 100%;
			background: #ccc;
		}

			footer p {
				font-size: 0.8em;
				margin-left: 27px;
				margin-top: 10px;
				position: absolute;
				color: black;
			}

		